@use '../../styles/variables' as *

.layout
  height: 100vh
  overflow: hidden
  background-color: $primary-50

  &__main
    margin-left: $sidebar-width-collapsed
    margin-top: $header-height
    padding: 0
    height: calc(100vh - #{$header-height})
    overflow-y: auto
    overflow-x: hidden
    background-color: $primary-50
    transition: margin-left $transition-slow

    &--sidebar-expanded
      margin-left: $sidebar-width-expanded

